In [226]:
import pandas as pd
import numpy as np
import csv
import glob

In [227]:
ls

data_preprocessing.ipynb    team15_dose_usage.csv
data_unfiltered.csv         team15_patient_add_info.csv
level1_features.csv         team15_patient_admit.csv
level2_features.csv         team15_urea_nitro.csv
sample_level1_features.csv  team15_vancomycin_level.csv
team15_bun_creatinine.csv   team15_weight_height.csv
team15_creatinine.csv       Untitled Folder/

In [284]:
path = ""
filenames = glob.glob(path + "*.csv")

df_dict = {}
for filename in filenames:
    file_name = filename.split('.')[0]
    df_dict[file_name] = pd.read_csv(filename)

/root/anaconda3/envs/conda_env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/root/anaconda3/envs/conda_env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [285]:
df_comorbidity = df_dict['comorbidity']

In [286]:
df_comorbidity

,subject_id,hadm_id,age_score,myocardial_infarct,congestive_heart_failure,peripheral_vascular_disease,cerebrovascular_disease,dementia,chronic_pulmonary_disease,rheumatic_disease,...,mild_liver_disease,diabetes_without_cc,diabetes_with_cc,paraplegia,renal_disease,malignant_cancer,severe_liver_disease,metastatic_solid_tumor,aids,charlson_comorbidity_index
0,12427812,21593330,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,14029832,22059088,2,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,3
2,12897089,21776699,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16050270,23791681,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,14068957,26940015,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524515,16482959,24980934,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
524516,14978114,21126907,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
524517,17561060,28949982,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
524518,17333919,22819488,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
524519,11258610,20631738,4,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,8

In [14]:
df_dict.keys()

dict_keys(['team15_weight_height', 'team15_vancomycin_level', 'team15_creatinine', 'team15_dose_usage', 'team15_patient_admit', 'team15_bun_creatinine', 'team15_patient_add_info', 'team15_urea_nitro'])

In [15]:
df_dose = df_dict['team15_dose_usage']

In [16]:
df_patient_weight_height = df_dict['team15_weight_height']

In [17]:
df_patient_info = df_dict['team15_patient_add_info']

In [18]:
df_creatinine = df_dict['team15_creatinine']

In [19]:
df_urea_nitro = df_dict['team15_urea_nitro']

In [20]:
df_patient = df_dict['team15_patient_admit']

In [21]:
df_patient

        subject_id   hadm_id gender            admittime  age
0         10000032  22595853      F  2180-05-06 22:23:00   52
1         10000032  22841357      F  2180-06-26 18:27:00   52
2         10000032  29079034      F  2180-07-23 12:35:00   52
3         10000032  25742920      F  2180-08-05 23:44:00   52
4         10000068  25022803      F  2160-03-03 23:16:00   19
...            ...       ...    ...                  ...  ...
462900    19999828  29734428      F  2147-07-18 16:23:00   46
462901    19999828  25744818      F  2149-01-08 16:44:00   48
462902    19999840  26071774      M  2164-07-25 00:27:00   58
462903    19999840  21033226      M  2164-09-10 13:47:00   58
462904    19999987  23865745      F  2145-11-02 21:38:00   57

[462905 rows x 5 columns]

In [22]:
df_dose_patient = pd.merge(df_patient, df_dose, how='left', on=['subject_id','hadm_id'])

In [23]:
df_dose_patient = df_dose_patient.dropna().reset_index()

In [24]:
df_dose_patient

,index,subject_id,hadm_id,gender,admittime,age,medication,charttime,dose_given,dose_given_unit
0,55,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-01 09:19:00,1000,mg
1,56,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-02 09:04:00,1000,mg
2,57,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-03 12:00:00,1000,mg
3,208,10003400,23559586,F,2137-08-04 00:07:00,75,Vancomycin,2137-08-10 18:06:00,1000,mg
4,231,10004235,22187210,M,2196-06-20 21:11:00,47,Vancomycin,2196-06-21 00:35:00,1000,mg
...,...,...,...,...,...,...,...,...,...,...
189381,636157,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-11 19:25:00,1000,mg
189382,636158,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-12 09:18:00,1000,mg
189383,636159,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-12 20:21:00,1000,mg
189384,636160,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-13 08:52:00,1000,mg
189385,636161,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-13 22:08:00,1000,mg

In [25]:
df_dose_patient.rename({'charttime': 'vanco_given_time'}, axis=1, inplace=True)

In [26]:
df_dose_patient

,index,subject_id,hadm_id,gender,admittime,age,medication,vanco_given_time,dose_given,dose_given_unit
0,55,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-01 09:19:00,1000,mg
1,56,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-02 09:04:00,1000,mg
2,57,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-03 12:00:00,1000,mg
3,208,10003400,23559586,F,2137-08-04 00:07:00,75,Vancomycin,2137-08-10 18:06:00,1000,mg
4,231,10004235,22187210,M,2196-06-20 21:11:00,47,Vancomycin,2196-06-21 00:35:00,1000,mg
...,...,...,...,...,...,...,...,...,...,...
189381,636157,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-11 19:25:00,1000,mg
189382,636158,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-12 09:18:00,1000,mg
189383,636159,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-12 20:21:00,1000,mg
189384,636160,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-13 08:52:00,1000,mg
189385,636161,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-13 22:08:00,1000,mg

In [27]:
df_bun_creatinine = df_dict['team15_bun_creatinine']

In [28]:
df_bun_creatinine

,subject_id,hadm_id,bun,creatinine,labtest_time,vanco_given_time
0,10001401,27060146,8.0,0.7,2131-10-04 07:10:00,2131-10-01 09:19:00
1,10001401,27060146,8.0,0.7,2131-10-04 07:10:00,2131-10-02 09:04:00
2,10001401,27060146,8.0,0.7,2131-10-04 07:10:00,2131-10-03 12:00:00
3,10001401,27060146,8.0,0.8,2131-10-05 06:00:00,2131-10-01 09:19:00
4,10001401,27060146,8.0,0.8,2131-10-05 06:00:00,2131-10-02 09:04:00
...,...,...,...,...,...,...
6098881,19999828,25744818,16.0,0.7,2149-01-08 20:00:00,2149-01-11 19:25:00
6098882,19999828,25744818,16.0,0.7,2149-01-08 20:00:00,2149-01-12 09:18:00
6098883,19999828,25744818,16.0,0.7,2149-01-08 20:00:00,2149-01-12 20:21:00
6098884,19999828,25744818,16.0,0.7,2149-01-08 20:00:00,2149-01-13 08:52:00
6098885,19999828,25744818,16.0,0.7,2149-01-08 20:00:00,2149-01-13 22:08:00

In [29]:
#df_bun_creatinine1 = df_bun_creatinine.groupby(['subject_id','hadm_id','bun','creatinine']).agg(lambda x: list(set(x)))

In [30]:
#df_bun_creatinine2 = df_bun_creatinine1.explode('labtest_time')

In [31]:
df_bun_creatinine

,subject_id,hadm_id,bun,creatinine,labtest_time,vanco_given_time
0,10001401,27060146,8.0,0.7,2131-10-04 07:10:00,2131-10-01 09:19:00
1,10001401,27060146,8.0,0.7,2131-10-04 07:10:00,2131-10-02 09:04:00
2,10001401,27060146,8.0,0.7,2131-10-04 07:10:00,2131-10-03 12:00:00
3,10001401,27060146,8.0,0.8,2131-10-05 06:00:00,2131-10-01 09:19:00
4,10001401,27060146,8.0,0.8,2131-10-05 06:00:00,2131-10-02 09:04:00
...,...,...,...,...,...,...
6098881,19999828,25744818,16.0,0.7,2149-01-08 20:00:00,2149-01-11 19:25:00
6098882,19999828,25744818,16.0,0.7,2149-01-08 20:00:00,2149-01-12 09:18:00
6098883,19999828,25744818,16.0,0.7,2149-01-08 20:00:00,2149-01-12 20:21:00
6098884,19999828,25744818,16.0,0.7,2149-01-08 20:00:00,2149-01-13 08:52:00
6098885,19999828,25744818,16.0,0.7,2149-01-08 20:00:00,2149-01-13 22:08:00

In [32]:
#df_bun_creatinine2['vanco_given_time_'] = df_bun_creatinine2.apply(lambda x: [i for i in x['vanco_given_time'] if i > x['labtest_time']], axis = 1)

In [33]:
#df_bun_creatinine2['vanco_given_time_'] = df_bun_creatinine2['vanco_given_time_'].apply(lambda x: sorted(x)[0] if len(x)>=1 else None)

In [34]:
#df_bun_creatinine2 = df_bun_creatinine2.drop(columns = 'vanco_given_time').rename(columns={'vanco_given_time_':'vanco_given_time'})

In [35]:
#df_bun_creatinine3 = df_bun_creatinine2.reset_index().dropna()

In [36]:
#df_bun_creatinine3

In [37]:
#df_dose_patient2

In [38]:
df =  pd.merge(df_dose_patient, df_bun_creatinine, on=['subject_id','hadm_id','vanco_given_time'])

In [39]:
df = df.drop_duplicates()

In [40]:
df_vancomycin = df_dict['team15_vancomycin_level']

In [41]:
df_vancomycin.rename(columns = {'charttime':'labtest_time'}, inplace = True)

In [42]:
df_vancomycin

       subject_id   hadm_id         labtest_time value valueuom  itemid
0        13602608  20613502  2160-03-12 06:10:00  24.3    ug/mL   51009
1        16560125  27661707  2123-06-09 05:50:00  22.2    ug/mL   51009
2        14740247  23519198  2111-07-14 04:24:00  28.0    ug/mL   51009
3        19193009  20324542  2167-07-23 04:35:00   9.5    ug/mL   51009
4        16253574  29801107  2129-04-11 06:01:00  19.8    ug/mL   51009
...           ...       ...                  ...   ...      ...     ...
98094    14614003  28322880  2134-08-30 13:11:00  15.7    ug/mL   51009
98095    17086072  23144420  2132-06-06 06:02:00  17.3    ug/mL   51009
98096    15904118  23059812  2149-07-10 06:10:00  18.5    ug/mL   51009
98097    19906407  23274748  2190-08-01 21:05:00   6.2    ug/mL   51009
98098    13058288  21882829  2204-03-19 08:10:00  28.2    ug/mL   51009

[98099 rows x 6 columns]

In [43]:
df =  pd.merge(df, df_vancomycin, on=['subject_id','hadm_id','labtest_time'])

In [60]:
df

,index,subject_id,hadm_id,gender,admittime,age,medication,vanco_given_time,dose_given,dose_given_unit,bun,creatinine,labtest_time,value,valueuom,itemid
0,55,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-01 09:19:00,1000,mg,8.0,0.7,2131-10-04 07:10:00,10.3,ug/mL,51009
1,56,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-02 09:04:00,1000,mg,8.0,0.7,2131-10-04 07:10:00,10.3,ug/mL,51009
2,57,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-03 12:00:00,1000,mg,8.0,0.7,2131-10-04 07:10:00,10.3,ug/mL,51009
3,55,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-01 09:19:00,1000,mg,18.0,0.9,2131-10-02 06:40:00,8.3,ug/mL,51009
4,56,10001401,27060146,F,2131-10-01 01:33:00,89,Vancomycin,2131-10-02 09:04:00,1000,mg,18.0,0.9,2131-10-02 06:40:00,8.3,ug/mL,51009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303579,636157,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-11 19:25:00,1000,mg,7.0,0.6,2149-01-10 05:58:00,14.5,ug/mL,51009
303580,636158,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-12 09:18:00,1000,mg,7.0,0.6,2149-01-10 05:58:00,14.5,ug/mL,51009
303581,636159,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-12 20:21:00,1000,mg,7.0,0.6,2149-01-10 05:58:00,14.5,ug/mL,51009
303582,636160,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-13 08:52:00,1000,mg,7.0,0.6,2149-01-10 05:58:00,14.5,ug/mL,51009
303583,636161,19999828,25744818,F,2149-01-08 16:44:00,48,Vancomycin,2149-01-13 22:08:00,1000,mg,7.0,0.6,2149-01-10 05:58:00,14.5,ug/mL,51009

In [ ]:
#df_creatinine
#df_urea_nitro

In [61]:
df2 = df[['subject_id','hadm_id','vanco_given_time','dose_given','labtest_time','value','bun','creatinine']]

In [62]:
df2 = df2.drop_duplicates()

In [63]:
df2

,subject_id,hadm_id,vanco_given_time,dose_given,labtest_time,value,bun,creatinine
0,10001401,27060146,2131-10-01 09:19:00,1000,2131-10-04 07:10:00,10.3,8.0,0.7
1,10001401,27060146,2131-10-02 09:04:00,1000,2131-10-04 07:10:00,10.3,8.0,0.7
2,10001401,27060146,2131-10-03 12:00:00,1000,2131-10-04 07:10:00,10.3,8.0,0.7
3,10001401,27060146,2131-10-01 09:19:00,1000,2131-10-02 06:40:00,8.3,18.0,0.9
4,10001401,27060146,2131-10-02 09:04:00,1000,2131-10-02 06:40:00,8.3,18.0,0.9
...,...,...,...,...,...,...,...,...
303579,19999828,25744818,2149-01-11 19:25:00,1000,2149-01-10 05:58:00,14.5,7.0,0.6
303580,19999828,25744818,2149-01-12 09:18:00,1000,2149-01-10 05:58:00,14.5,7.0,0.6
303581,19999828,25744818,2149-01-12 20:21:00,1000,2149-01-10 05:58:00,14.5,7.0,0.6
303582,19999828,25744818,2149-01-13 08:52:00,1000,2149-01-10 05:58:00,14.5,7.0,0.6
303583,19999828,25744818,2149-01-13 22:08:00,1000,2149-01-10 05:58:00,14.5,7.0,0.6

In [49]:
#df_creatinine_ = df_creatinine[['subject_id','hadm_id','vanco_given_time','value']].rename(columns={'value':'creatinine_value'})

In [50]:
#df_2 = pd.merge(df2, df_creatinine_, on = ['subject_id','hadm_id','vanco_given_time'])

In [51]:
#df_2 = df_2.drop_duplicates()

In [54]:
#df_urea_nitro_ = df_urea_nitro[['subject_id','hadm_id','vanco_given_time','value']].rename(columns={'value':'urea_nitro_value'}).drop_duplicates()

In [55]:
#df__2 = pd.merge(df_2, df_urea_nitro_, on = ['subject_id','hadm_id','vanco_given_time'])

In [56]:
#df__2 = df__2.drop_duplicates()

In [57]:
#df__2

,subject_id,hadm_id,vanco_given_time,dose_given,labtest_time,value,creatinine_value,urea_nitro_value
0,10001401,27060146,2131-10-01 09:19:00,1000,2131-10-04 07:10:00,10.3,0.7,12
1,10001401,27060146,2131-10-01 09:19:00,1000,2131-10-04 07:10:00,10.3,0.7,18
2,10001401,27060146,2131-10-01 09:19:00,1000,2131-10-04 07:10:00,10.3,0.7,24
3,10001401,27060146,2131-10-01 09:19:00,1000,2131-10-04 07:10:00,10.3,0.7,25
4,10001401,27060146,2131-10-01 09:19:00,1000,2131-10-04 07:10:00,10.3,0.7,8
...,...,...,...,...,...,...,...,...
120057161,19999828,25744818,2149-01-13 22:08:00,1000,2149-01-10 05:58:00,14.5,0.8,15
120057162,19999828,25744818,2149-01-13 22:08:00,1000,2149-01-10 05:58:00,14.5,0.8,16
120057163,19999828,25744818,2149-01-13 22:08:00,1000,2149-01-10 05:58:00,14.5,0.8,7
120057164,19999828,25744818,2149-01-13 22:08:00,1000,2149-01-10 05:58:00,14.5,0.8,8
120057165,19999828,25744818,2149-01-13 22:08:00,1000,2149-01-10 05:58:00,14.5,0.8,9

In [65]:
df2['dose'] = df2.apply(lambda x: [x['vanco_given_time'],x['dose_given'],'dose', x['creatinine'],x['bun']], axis=1)
df2['test'] = df2.apply(lambda x: [x['labtest_time'],x['value'],'test',0,0], axis=1)

In [ ]:
d

In [68]:
df3 = df2.drop(columns=['vanco_given_time','dose_given','labtest_time','value','bun','creatinine'])

In [50]:
#df3 = df2.groupby(['subject_id','hadm_id','gender','admittime','age']).agg(list)

In [69]:
df3

,subject_id,hadm_id,dose,test
0,10001401,27060146,"[2131-10-01 09:19:00, 1000, dose, 0.7, 8.0]","[2131-10-04 07:10:00, 10.3, test, 0, 0]"
1,10001401,27060146,"[2131-10-02 09:04:00, 1000, dose, 0.7, 8.0]","[2131-10-04 07:10:00, 10.3, test, 0, 0]"
2,10001401,27060146,"[2131-10-03 12:00:00, 1000, dose, 0.7, 8.0]","[2131-10-04 07:10:00, 10.3, test, 0, 0]"
3,10001401,27060146,"[2131-10-01 09:19:00, 1000, dose, 0.9, 18.0]","[2131-10-02 06:40:00, 8.3, test, 0, 0]"
4,10001401,27060146,"[2131-10-02 09:04:00, 1000, dose, 0.9, 18.0]","[2131-10-02 06:40:00, 8.3, test, 0, 0]"
...,...,...,...,...
303579,19999828,25744818,"[2149-01-11 19:25:00, 1000, dose, 0.6, 7.0]","[2149-01-10 05:58:00, 14.5, test, 0, 0]"
303580,19999828,25744818,"[2149-01-12 09:18:00, 1000, dose, 0.6, 7.0]","[2149-01-10 05:58:00, 14.5, test, 0, 0]"
303581,19999828,25744818,"[2149-01-12 20:21:00, 1000, dose, 0.6, 7.0]","[2149-01-10 05:58:00, 14.5, test, 0, 0]"
303582,19999828,25744818,"[2149-01-13 08:52:00, 1000, dose, 0.6, 7.0]","[2149-01-10 05:58:00, 14.5, test, 0, 0]"
303583,19999828,25744818,"[2149-01-13 22:08:00, 1000, dose, 0.6, 7.0]","[2149-01-10 05:58:00, 14.5, test, 0, 0]"

In [71]:
df_3_dose = df3.drop(columns=['test'])
df_3_test = df3.drop(columns=['dose'])

In [72]:
df_3_dose1 = df_3_dose.rename(columns={'dose':'event'})
df_3_test1 = df_3_test.rename(columns={'test':'event'})
df4 = df_3_dose1.append(df_3_test1)

In [73]:
df4

        subject_id   hadm_id                                         event
0         10001401  27060146   [2131-10-01 09:19:00, 1000, dose, 0.7, 8.0]
1         10001401  27060146   [2131-10-02 09:04:00, 1000, dose, 0.7, 8.0]
2         10001401  27060146   [2131-10-03 12:00:00, 1000, dose, 0.7, 8.0]
3         10001401  27060146  [2131-10-01 09:19:00, 1000, dose, 0.9, 18.0]
4         10001401  27060146  [2131-10-02 09:04:00, 1000, dose, 0.9, 18.0]
...            ...       ...                                           ...
303579    19999828  25744818       [2149-01-10 05:58:00, 14.5, test, 0, 0]
303580    19999828  25744818       [2149-01-10 05:58:00, 14.5, test, 0, 0]
303581    19999828  25744818       [2149-01-10 05:58:00, 14.5, test, 0, 0]
303582    19999828  25744818       [2149-01-10 05:58:00, 14.5, test, 0, 0]
303583    19999828  25744818       [2149-01-10 05:58:00, 14.5, test, 0, 0]

[606694 rows x 3 columns]

In [74]:
df4['time'] = df4['event'].apply(lambda x: x[0])

In [75]:
df4 = df4.drop_duplicates(subset=['time'])

In [76]:
df4

,subject_id,hadm_id,event,time
0,10001401,27060146,"[2131-10-01 09:19:00, 1000, dose, 0.7, 8.0]",2131-10-01 09:19:00
1,10001401,27060146,"[2131-10-02 09:04:00, 1000, dose, 0.7, 8.0]",2131-10-02 09:04:00
2,10001401,27060146,"[2131-10-03 12:00:00, 1000, dose, 0.7, 8.0]",2131-10-03 12:00:00
6,10003400,23559586,"[2137-08-10 18:06:00, 1000, dose, 2.0, 35.0]",2137-08-10 18:06:00
7,10004733,27411876,"[2174-12-14 12:30:00, 1250, dose, 2.6, 26.0]",2174-12-14 12:30:00
...,...,...,...,...
303535,19995595,21784060,"[2126-11-02 01:28:00, 13.5, test, 0, 0]",2126-11-02 01:28:00
303550,19997367,27185507,"[2127-05-10 06:00:00, 29.1, test, 0, 0]",2127-05-10 06:00:00
303558,19997367,27185507,"[2127-05-11 06:11:00, 16.5, test, 0, 0]",2127-05-11 06:11:00
303566,19999287,20175828,"[2197-08-08 06:15:00, 18.8, test, 0, 0]",2197-08-08 06:15:00
303573,19999828,25744818,"[2149-01-10 05:58:00, 14.5, test, 0, 0]",2149-01-10 05:58:00

In [77]:
df5 = df4[['subject_id','hadm_id','event','time']]

In [78]:
df5

,subject_id,hadm_id,event,time
0,10001401,27060146,"[2131-10-01 09:19:00, 1000, dose, 0.7, 8.0]",2131-10-01 09:19:00
1,10001401,27060146,"[2131-10-02 09:04:00, 1000, dose, 0.7, 8.0]",2131-10-02 09:04:00
2,10001401,27060146,"[2131-10-03 12:00:00, 1000, dose, 0.7, 8.0]",2131-10-03 12:00:00
6,10003400,23559586,"[2137-08-10 18:06:00, 1000, dose, 2.0, 35.0]",2137-08-10 18:06:00
7,10004733,27411876,"[2174-12-14 12:30:00, 1250, dose, 2.6, 26.0]",2174-12-14 12:30:00
...,...,...,...,...
303535,19995595,21784060,"[2126-11-02 01:28:00, 13.5, test, 0, 0]",2126-11-02 01:28:00
303550,19997367,27185507,"[2127-05-10 06:00:00, 29.1, test, 0, 0]",2127-05-10 06:00:00
303558,19997367,27185507,"[2127-05-11 06:11:00, 16.5, test, 0, 0]",2127-05-11 06:11:00
303566,19999287,20175828,"[2197-08-08 06:15:00, 18.8, test, 0, 0]",2197-08-08 06:15:00
303573,19999828,25744818,"[2149-01-10 05:58:00, 14.5, test, 0, 0]",2149-01-10 05:58:00

In [79]:
df6 = df5.groupby(['subject_id','hadm_id'])

In [80]:
df7 = df6.apply(lambda x: x.sort_values(by=['time']))

In [72]:
#df7 = df4.sort_values(by=['time'])

In [81]:
df8 = df7.reset_index(drop=True)

In [82]:
df8['event_type'] = df8['event'].apply(lambda x: 'V' if x[2] == 'test' else 'D')

In [83]:
df8

,subject_id,hadm_id,event,time,event_type
0,10001401,27060146,"[2131-10-01 09:19:00, 1000, dose, 0.7, 8.0]",2131-10-01 09:19:00,D
1,10001401,27060146,"[2131-10-02 06:40:00, 8.3, test, 0, 0]",2131-10-02 06:40:00,V
2,10001401,27060146,"[2131-10-02 09:04:00, 1000, dose, 0.7, 8.0]",2131-10-02 09:04:00,D
3,10001401,27060146,"[2131-10-03 12:00:00, 1000, dose, 0.7, 8.0]",2131-10-03 12:00:00,D
4,10001401,27060146,"[2131-10-04 07:10:00, 10.3, test, 0, 0]",2131-10-04 07:10:00,V
...,...,...,...,...,...
142554,19999828,25744818,"[2149-01-11 19:25:00, 1000, dose, 0.6, 7.0]",2149-01-11 19:25:00,D
142555,19999828,25744818,"[2149-01-12 09:18:00, 1000, dose, 0.6, 7.0]",2149-01-12 09:18:00,D
142556,19999828,25744818,"[2149-01-12 20:21:00, 1000, dose, 0.6, 7.0]",2149-01-12 20:21:00,D
142557,19999828,25744818,"[2149-01-13 08:52:00, 1000, dose, 0.6, 7.0]",2149-01-13 08:52:00,D
142558,19999828,25744818,"[2149-01-13 22:08:00, 1000, dose, 0.6, 7.0]",2149-01-13 22:08:00,D

In [84]:
df9 = df8.groupby(['hadm_id'])['event'].agg(list)

In [85]:
df9

hadm_id
20001305    [[2178-03-25 04:48:00, 0, dose, 1.2, 59.0], [2...
20003038    [[2157-11-16 23:56:00, 1000, dose, 0.9, 12.0],...
20003095    [[2139-09-12 02:20:00, 500, dose, 1.1000000000...
20005119    [[2112-11-18 10:54:00, 7.1, test, 0, 0], [2112...
20006562    [[2180-03-07 19:07:00, 1000, dose, 2.4, 27.0],...
                                  ...
29995243    [[2203-10-23 23:00:00, 1000, dose, 5.6, 27.0],...
29995410    [[2133-01-21 07:11:00, nan, test, 0, 0], [2133...
29995643    [[2133-01-02 19:06:00, 1000, dose, nan, nan], ...
29998193    [[2137-03-02 05:49:00, 1500, dose, 0.8, 9.0], ...
29999501    [[2135-06-26 23:18:00, 1500, dose, 0.9, 10.0],...
Name: event, Length: 9693, dtype: object

In [86]:
time_dict = df9.to_dict()

In [87]:
from datetime import datetime

datetimeFormat = '%Y-%m-%d %H:%M:%S'

In [88]:
def prev_dose(x):
  arr = time_dict[x['hadm_id']]
  result = arr[0][0]
  if x['event'][2] == 'dose':
    return x['event'][0]
  for i in arr:
    if i[0] < x['time'] and i[0] > result and i[2] == 'dose':
      result = i[0]
  return result

In [89]:
def prev_dose_amount(x):
  arr = time_dict[x['hadm_id']]
  result_time = arr[0][0]
  result = 0 
  if x['event'][2] == 'dose':
    return x['event'][1]
  for i in arr:
    if i[0] <= x['time'] and i[0] >= result_time and i[2] == 'dose':
      result_time = i[0]
      result = i[1]
  return result

In [164]:
def prev_creatinine_amount(x):
  arr = time_dict[x['hadm_id']]
  result_time = arr[0][0]
  result = 0 
  if x['event'][2] == 'dose':
    return x['event'][3]
  for i in arr:
    if i[0] <= x['time'] and i[0] >= result_time and i[2] == 'dose':
      result_time = i[0]
      result = i[3]
  return result

In [165]:
def prev_bun_amount(x):
  arr = time_dict[x['hadm_id']]
  result_time = arr[0][0]
  result = 0 
  if x['event'][2] == 'dose':
    return x['event'][4]
  for i in arr:
    if i[0] <= x['time'] and i[0] >= result_time and i[2] == 'dose':
      result_time = i[0]
      result = i[4]
  return result

In [166]:
def next_vanco(x):
  arr = time_dict[x['hadm_id']]
  result = arr[-1][0]
  for i in arr:
    if i[0] > x['time'] and i[0] < result and i[2] == 'test':
      result = i[0]
  return result

In [167]:
def next_vanco_level(x):
  arr = time_dict[x['hadm_id']]
  result_time = arr[-1][0]
  result = 0
  for i in arr:
    if i[0] > x['time'] and i[0] <= result_time and i[2] == 'test':
      result_time = i[0]
      result = i[1]
  return result

In [239]:
def curr_vanco_level(x):
    arr = time_dict[x['hadm_id']]
    if x['event'][2] == 'test':
        return x['event'][1]
    else:
        return 0

In [240]:
df10 = df8
df10['last_dose_time'] = df10.apply(lambda x: prev_dose(x), axis = 1)
df10['time_since_last_dosage'] = df10.apply(lambda x: (datetime.strptime(x['time'], datetimeFormat) - datetime.strptime(x['last_dose_time'], datetimeFormat)).total_seconds(), axis = 1)
df10['prev_creatinine_amount'] = df10.apply(lambda x: prev_creatinine_amount(x), axis = 1)
df10['prev_bun_amount'] = df10.apply(lambda x: prev_bun_amount(x), axis = 1)
df10['prev__amount'] = df10.apply(lambda x: prev_dose_amount(x), axis = 1)
df10['curr_vanco_level'] = df10.apply(lambda x: curr_vanco_level(x), axis = 1)
df10['next_vanco_time'] = df10.apply(lambda x: next_vanco(x), axis = 1)
df10['next_vanco_level'] = df10.apply(lambda x: next_vanco_level(x), axis = 1)
df10['time_to_next_vanco'] = df10.apply(lambda x: (datetime.strptime(x['next_vanco_time'], datetimeFormat) - datetime.strptime(x['time'], datetimeFormat)).total_seconds(), axis = 1)

In [242]:
def second_level_prev_dose(x):
  arr = time_dict[x['hadm_id']]
  result = arr[0][0]
  for i in arr:
    if i[0] < x['last_dose_time'] and i[0] >= result and i[2] == 'dose':
      result = i[0]
  return result

In [243]:
def second_level_prev_dose_amount(x):
  arr = time_dict[x['hadm_id']]
  result_time = arr[0][0]
  result = 0 
  for i in arr:
    if i[0] < x['last_dose_time'] and i[0] >= result_time and i[2] == 'dose':
      result_time = i[0]
      result = i[1]
  return result

In [244]:
def prev_vanco(x):
  arr = time_dict[x['hadm_id']]
  result = arr[0][0]
  for i in arr:
    if i[0] < x['time'] and i[0] >= result and i[2] == 'test':
      result = i[0]
  return result

In [245]:
def prev_vanco_amount(x):
  arr = time_dict[x['hadm_id']]
  result_time = arr[0][0]
  result = 0 
  for i in arr:
    if i[0] < x['time'] and i[0] >= result_time and i[2] == 'test':
      result_time = i[0]
      result = i[1]
  return result

In [246]:
def second_level_prev_vanco(x):
  arr = time_dict[x['hadm_id']]
  result = arr[0][0]
  for i in arr:
    if i[0] < x['prev_vanco_time'] and i[0] >= result and i[2] == 'test':
      result = i[0]
  return result

In [247]:
def second_level_prev_vanco_amount(x):
  arr = time_dict[x['hadm_id']]
  result_time = arr[0][0]
  result = 0 
  for i in arr:
    if i[0] < x['prev_vanco_time'] and i[0] >= result_time and i[2] == 'test':
      result_time = i[0]
      result = i[1]
  return result

In [248]:
def third_level_prev_vanco(x):
  arr = time_dict[x['hadm_id']]
  result = arr[0][0]
  for i in arr:
    if i[0] < x['second_last_vanco_time'] and i[0] >= result and i[2] == 'test':
      result = i[0]
  return result

In [249]:
def third_level_prev_vanco_amount(x):
  arr = time_dict[x['hadm_id']]
  result_time = arr[0][0]
  result = 0 
  for i in arr:
    if i[0] <= x['second_last_vanco_time'] and i[0] >= result_time and i[2] == 'test':
      result_time = i[0]
      result = i[1]
  return result

In [250]:
df11 = df10
df11['prev_vanco_time'] = df11.apply(lambda x: prev_vanco(x), axis = 1)
df11['time_since_last_vanco'] = df11.apply(lambda x: (datetime.strptime(x['time'], datetimeFormat) - datetime.strptime(x['prev_vanco_time'], datetimeFormat)).total_seconds(), axis = 1)
df11['prev_vanco_level'] = df11.apply(lambda x: prev_vanco_amount(x), axis = 1)
df11['second_last_vanco_time'] = df11.apply(lambda x: second_level_prev_vanco(x), axis = 1)
df11['second_last_vanco_amount'] = df11.apply(lambda x: second_level_prev_vanco_amount(x), axis = 1)
df11['time_since_second_last_vanco'] = df11.apply(lambda x: (datetime.strptime(x['time'], datetimeFormat) - datetime.strptime(x['second_last_vanco_time'], datetimeFormat)).total_seconds(), axis = 1)
df11['third_last_vanco_time'] = df11.apply(lambda x: third_level_prev_vanco(x), axis = 1)
df11['third_last_vanco_amount'] = df11.apply(lambda x: third_level_prev_vanco_amount(x), axis = 1)
df11['time_since_thirdlast_vanco'] = df11.apply(lambda x: (datetime.strptime(x['time'], datetimeFormat) - datetime.strptime(x['third_last_vanco_time'], datetimeFormat)).total_seconds(), axis = 1)
df11['second_last_dose_time'] = df11.apply(lambda x: second_level_prev_dose(x), axis = 1)
df11['second_last_dose_amount'] = df11.apply(lambda x: second_level_prev_dose_amount(x), axis = 1)
df11['time_since_second_last_dose'] = df11.apply(lambda x: (datetime.strptime(x['time'], datetimeFormat) - datetime.strptime(x['second_last_dose_time'], datetimeFormat)).total_seconds(), axis = 1)

In [251]:
df11

,subject_id,hadm_id,event,time,event_type,last_dose_time,time_since_last_dosage,prev_creatinine_amount,prev_bun_amount,prev__amount,...,second_last_vanco_time,second_last_vanco_amount,time_since_second_last_vanco,third_last_vanco_time,third_last_vanco_amount,time_since_thirdlast_vanco,second_last_dose_time,second_last_dose_amount,time_since_second_last_dose,curr_vanco_level
0,10001401,27060146,"[2131-10-01 09:19:00, 1000, dose, 0.7, 8.0]",2131-10-01 09:19:00,D,2131-10-01 09:19:00,0.0,0.7,8.0,1000,...,2131-10-01 09:19:00,0,0.0,2131-10-01 09:19:00,0,0.0,2131-10-01 09:19:00,0,0.0,0
1,10001401,27060146,"[2131-10-02 06:40:00, 8.3, test, 0, 0]",2131-10-02 06:40:00,V,2131-10-01 09:19:00,76860.0,0.7,8.0,1000,...,2131-10-01 09:19:00,0,76860.0,2131-10-01 09:19:00,0,76860.0,2131-10-01 09:19:00,0,76860.0,8.3
2,10001401,27060146,"[2131-10-02 09:04:00, 1000, dose, 0.7, 8.0]",2131-10-02 09:04:00,D,2131-10-02 09:04:00,0.0,0.7,8.0,1000,...,2131-10-01 09:19:00,0,85500.0,2131-10-01 09:19:00,0,85500.0,2131-10-01 09:19:00,1000,85500.0,0
3,10001401,27060146,"[2131-10-03 12:00:00, 1000, dose, 0.7, 8.0]",2131-10-03 12:00:00,D,2131-10-03 12:00:00,0.0,0.7,8.0,1000,...,2131-10-01 09:19:00,0,182460.0,2131-10-01 09:19:00,0,182460.0,2131-10-02 09:04:00,1000,96960.0,0
4,10001401,27060146,"[2131-10-04 07:10:00, 10.3, test, 0, 0]",2131-10-04 07:10:00,V,2131-10-03 12:00:00,69000.0,0.7,8.0,1000,...,2131-10-01 09:19:00,0,251460.0,2131-10-01 09:19:00,0,251460.0,2131-10-02 09:04:00,1000,165960.0,10.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142554,19999828,25744818,"[2149-01-11 19:25:00, 1000, dose, 0.6, 7.0]",2149-01-11 19:25:00,D,2149-01-11 19:25:00,0.0,0.6,7.0,1000,...,2149-01-08 21:03:00,0,253320.0,2149-01-08 21:03:00,0,253320.0,2149-01-11 09:23:00,1000,36120.0,0
142555,19999828,25744818,"[2149-01-12 09:18:00, 1000, dose, 0.6, 7.0]",2149-01-12 09:18:00,D,2149-01-12 09:18:00,0.0,0.6,7.0,1000,...,2149-01-08 21:03:00,0,303300.0,2149-01-08 21:03:00,0,303300.0,2149-01-11 19:25:00,1000,49980.0,0
142556,19999828,25744818,"[2149-01-12 20:21:00, 1000, dose, 0.6, 7.0]",2149-01-12 20:21:00,D,2149-01-12 20:21:00,0.0,0.6,7.0,1000,...,2149-01-08 21:03:00,0,343080.0,2149-01-08 21:03:00,0,343080.0,2149-01-12 09:18:00,1000,39780.0,0
142557,19999828,25744818,"[2149-01-13 08:52:00, 1000, dose, 0.6, 7.0]",2149-01-13 08:52:00,D,2149-01-13 08:52:00,0.0,0.6,7.0,1000,...,2149-01-08 21:03:00,0,388140.0,2149-01-08 21:03:00,0,388140.0,2149-01-12 20:21:00,1000,45060.0,0
142558,19999828,25744818,"[2149-01-13 22:08:00, 1000, dose, 0.6, 7.0]",2149-01-13 22:08:00,D,2149-01-13 22:08:00,0.0,0.6,7.0,1000,...,2149-01-08 21:03:00,0,435900.0,2149-01-08 21:03:00,0,435900.0,2149-01-13 08:52:00,1000,47760.0,0

In [252]:
df11['subject_id'].nunique()

7801

In [253]:
df11['hadm_id'].nunique()

9693

In [254]:
df12 = pd.merge(df11,df_patient, on=['subject_id','hadm_id'])

In [255]:
df12.columns

Index(['subject_id', 'hadm_id', 'event', 'time', 'event_type',
       'last_dose_time', 'time_since_last_dosage', 'prev_creatinine_amount',
       'prev_bun_amount', 'prev__amount', 'next_vanco_time',
       'next_vanco_level', 'time_to_next_vanco', 'prev_vanco_time',
       'time_since_last_vanco', 'prev_vanco_level', 'second_last_vanco_time',
       'second_last_vanco_amount', 'time_since_second_last_vanco',
       'third_last_vanco_time', 'third_last_vanco_amount',
       'time_since_thirdlast_vanco', 'second_last_dose_time',
       'second_last_dose_amount', 'time_since_second_last_dose',
       'curr_vanco_level', 'gender', 'admittime', 'age'],
      dtype='object')

In [256]:
df12.to_csv('data_unfiltered.csv')

In [257]:
df12.to_csv('sample_level1_features.csv')

In [258]:
df13 = df12.drop(columns = ['event','last_dose_time','next_vanco_time','prev_vanco_time','second_last_vanco_time','third_last_vanco_time',
          'second_last_dose_time'])

In [259]:
df13['next_event_type'] = df13.groupby('hadm_id')['event_type'].shift(-1)

In [260]:
df13.head(20)

,subject_id,hadm_id,time,event_type,time_since_last_dosage,prev_creatinine_amount,prev_bun_amount,prev__amount,next_vanco_level,time_to_next_vanco,...,time_since_second_last_vanco,third_last_vanco_amount,time_since_thirdlast_vanco,second_last_dose_amount,time_since_second_last_dose,curr_vanco_level,gender,admittime,age,next_event_type
0,10001401,27060146,2131-10-01 09:19:00,D,0.0,0.7,8.0,1000,8.3,76860.0,...,0.0,0,0.0,0,0.0,0,F,2131-10-01 01:33:00,89,V
1,10001401,27060146,2131-10-02 06:40:00,V,76860.0,0.7,8.0,1000,10.3,174600.0,...,76860.0,0,76860.0,0,76860.0,8.3,F,2131-10-01 01:33:00,89,D
2,10001401,27060146,2131-10-02 09:04:00,D,0.0,0.7,8.0,1000,10.3,165960.0,...,85500.0,0,85500.0,1000,85500.0,0,F,2131-10-01 01:33:00,89,D
3,10001401,27060146,2131-10-03 12:00:00,D,0.0,0.7,8.0,1000,10.3,69000.0,...,182460.0,0,182460.0,1000,96960.0,0,F,2131-10-01 01:33:00,89,V
4,10001401,27060146,2131-10-04 07:10:00,V,69000.0,0.7,8.0,1000,0,0.0,...,251460.0,0,251460.0,1000,165960.0,10.3,F,2131-10-01 01:33:00,89,NaN
5,10003400,23559586,2137-08-05 04:38:00,V,0.0,0.0,0.0,0,0,480480.0,...,0.0,14.6,0.0,0,0.0,14.6,F,2137-08-04 00:07:00,75,D
6,10003400,23559586,2137-08-10 18:06:00,D,0.0,2.0,35.0,1000,0,0.0,...,480480.0,14.6,480480.0,0,480480.0,0,F,2137-08-04 00:07:00,75,NaN
7,10004733,27411876,2174-12-07 07:34:00,V,0.0,0.0,0.0,0,12.3,253560.0,...,0.0,25.1,0.0,0,0.0,25.1,M,2174-12-04 11:28:00,51,V
8,10004733,27411876,2174-12-10 06:00:00,V,253560.0,0.0,0.0,0,0,539700.0,...,253560.0,25.1,253560.0,0,253560.0,12.3,M,2174-12-04 11:28:00,51,D
9,10004733,27411876,2174-12-14 12:30:00,D,0.0,2.6,26.0,1250,0,170700.0,...,622560.0,25.1,622560.0,0,622560.0,0,M,2174-12-04 11:28:00,51,D
10,10004733,27411876,2174-12-16 11:55:00,D,0.0,2.6,26.0,1250,0,0.0,...,793260.0,25.1,793260.0,1250,170700.0,0,M,2174-12-04 11:28:00,51,NaN
11,10005817,28661809,2135-01-04 04:40:00,D,0.0,2.3,73.0,1000,15.5,261960.0,...,0.0,0,0.0,0,0.0,0,M,2135-01-03 21:54:00,69,D
12,10005817,28661809,2135-01-05 10:00:00,D,0.0,2.3,73.0,1000,15.5,156360.0,...,105600.0,0,105600.0,1000,105600.0,0,M,2135-01-03 21:54:00,69,D
13,10005817,28661809,2135-01-06 07:27:00,D,0.0,2.3,73.0,1000,15.5,79140.0,...,182820.0,0,182820.0,1000,77220.0,0,M,2135-01-03 21:54:00,69,V
14,10005817,28661809,2135-01-07 05:26:00,V,79140.0,2.3,73.0,1000,24.5,605940.0,...,261960.0,0,261960.0,1000,156360.0,15.5,M,2135-01-03 21:54:00,69,D
15,10005817,28661809,2135-01-07 10:15:00,D,0.0,2.3,73.0,1000,24.5,588600.0,...,279300.0,0,279300.0,1000,96480.0,0,M,2135-01-03 21:54:00,69,D
16,10005817,28661809,2135-01-08 08:43:00,D,0.0,2.3,73.0,1000,24.5,507720.0,...,360180.0,0,360180.0,1000,80880.0,0,M,2135-01-03 21:54:00,69,D
17,10005817,28661809,2135-01-09 08:12:00,D,0.0,2.3,73.0,1000,24.5,423180.0,...,444720.0,0,444720.0,1000,84540.0,0,M,2135-01-03 21:54:00,69,D
18,10005817,28661809,2135-01-10 09:00:00,D,0.0,2.3,73.0,1000,24.5,333900.0,...,534000.0,0,534000.0,1000,89280.0,0,M,2135-01-03 21:54:00,69,D
19,10005817,28661809,2135-01-11 07:45:00,D,0.0,2.3,73.0,1250,24.5,252000.0,...,615900.0,0,615900.0,1000,81900.0,0,M,2135-01-03 21:54:00,69,D

In [261]:
df_next_event_d = df13[df13['next_event_type'] == 'D' ] # Step 1
df14 = df13.drop(df_next_event_d.index, axis=0) # Step 2

In [262]:
df14

,subject_id,hadm_id,time,event_type,time_since_last_dosage,prev_creatinine_amount,prev_bun_amount,prev__amount,next_vanco_level,time_to_next_vanco,...,time_since_second_last_vanco,third_last_vanco_amount,time_since_thirdlast_vanco,second_last_dose_amount,time_since_second_last_dose,curr_vanco_level,gender,admittime,age,next_event_type
0,10001401,27060146,2131-10-01 09:19:00,D,0.0,0.7,8.0,1000,8.3,76860.0,...,0.0,0,0.0,0,0.0,0,F,2131-10-01 01:33:00,89,V
3,10001401,27060146,2131-10-03 12:00:00,D,0.0,0.7,8.0,1000,10.3,69000.0,...,182460.0,0,182460.0,1000,96960.0,0,F,2131-10-01 01:33:00,89,V
4,10001401,27060146,2131-10-04 07:10:00,V,69000.0,0.7,8.0,1000,0,0.0,...,251460.0,0,251460.0,1000,165960.0,10.3,F,2131-10-01 01:33:00,89,NaN
6,10003400,23559586,2137-08-10 18:06:00,D,0.0,2.0,35.0,1000,0,0.0,...,480480.0,14.6,480480.0,0,480480.0,0,F,2137-08-04 00:07:00,75,NaN
7,10004733,27411876,2174-12-07 07:34:00,V,0.0,0.0,0.0,0,12.3,253560.0,...,0.0,25.1,0.0,0,0.0,25.1,M,2174-12-04 11:28:00,51,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142536,19997367,27185507,2127-05-10 06:00:00,V,75780.0,1.1,14.0,1000,16.5,87060.0,...,299280.0,0,299280.0,1000,118140.0,29.1,F,2127-05-05 02:40:00,64,V
142538,19997367,27185507,2127-05-12 15:15:00,D,0.0,1.1,14.0,1000,0,0.0,...,206100.0,29.1,505380.0,1000,281880.0,0,F,2127-05-05 02:40:00,64,NaN
142546,19999287,20175828,2197-08-11 21:10:00,D,0.0,0.7,14.0,1000,0,0.0,...,312900.0,18.8,312900.0,1000,47460.0,0,F,2197-08-03 20:58:00,77,NaN
142549,19999828,25744818,2149-01-09 20:34:00,D,0.0,0.6,7.0,1000,14.5,33840.0,...,84660.0,0,84660.0,1000,47340.0,0,F,2149-01-08 16:44:00,48,V
142558,19999828,25744818,2149-01-13 22:08:00,D,0.0,0.6,7.0,1000,0,0.0,...,435900.0,0,435900.0,1000,47760.0,0,F,2149-01-08 16:44:00,48,NaN

In [263]:
df14['hadm_id'].nunique()

9693

In [264]:
df14['subject_id'].nunique()

7801

In [265]:
df15 = df14.drop(columns='next_event_type' )

In [266]:
df15 = df15.dropna()

In [267]:
df15.to_csv('level1_features.csv')

In [199]:
df16 = df15.drop(columns=['subject_id', 'hadm_id', 'time']).reset_index(drop= True)

In [200]:
df16.to_csv('level1_features.csv')

In [268]:
df_patient_info_ = df_patient_info.drop(columns = ['language','marital_status'])

In [269]:
df17 = pd.merge(df15, df_patient_info_, on =['subject_id','hadm_id'])

In [270]:
df_patient_weight_height_ = df_patient_weight_height.drop(columns='height')

In [287]:
df18 = pd.merge(df17, df_patient_weight_height_, on = 'subject_id', how = 'left')

In [288]:
df18 = df18.drop_duplicates().dropna()

In [291]:
df19 = pd.merge(df18, df_comorbidity, on = ['subject_id','hadm_id'])

In [292]:
df19

,subject_id,hadm_id,time,event_type,time_since_last_dosage,prev_creatinine_amount,prev_bun_amount,prev__amount,next_vanco_level,time_to_next_vanco,...,mild_liver_disease,diabetes_without_cc,diabetes_with_cc,paraplegia,renal_disease,malignant_cancer,severe_liver_disease,metastatic_solid_tumor,aids,charlson_comorbidity_index
0,10003400,23559586,2137-08-10 18:06:00,D,0.0,2.0,35.0,1000,0,0.0,...,0,0,0,0,1,1,0,1,0,13
1,10003400,23559586,2137-08-10 18:06:00,D,0.0,2.0,35.0,1000,0,0.0,...,0,0,0,0,1,1,0,1,0,13
2,10004733,27411876,2174-12-07 07:34:00,V,0.0,0.0,0.0,0,12.3,253560.0,...,0,0,0,1,1,0,0,0,0,7
3,10004733,27411876,2174-12-16 11:55:00,D,0.0,2.6,26.0,1250,0,0.0,...,0,0,0,1,1,0,0,0,0,7
4,10005817,28661809,2135-01-06 07:27:00,D,0.0,2.3,73.0,1000,15.5,79140.0,...,0,1,0,0,1,0,0,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22783,19994379,27334101,2131-06-15 06:50:00,V,26040.0,1.2,20.0,1000,0,0.0,...,0,0,0,0,1,0,0,0,0,7
22784,19997367,27185507,2127-05-09 08:57:00,D,0.0,1.1,14.0,1000,29.1,75780.0,...,1,0,0,0,1,1,1,0,0,10
22785,19997367,27185507,2127-05-10 06:00:00,V,75780.0,1.1,14.0,1000,16.5,87060.0,...,1,0,0,0,1,1,1,0,0,10
22786,19997367,27185507,2127-05-12 15:15:00,D,0.0,1.1,14.0,1000,0,0.0,...,1,0,0,0,1,1,1,0,0,10
22787,19999287,20175828,2197-08-11 21:10:00,D,0.0,0.7,14.0,1000,0,0.0,...,0,1,0,0,0,1,0,0,0,8

In [293]:
df19 = df19.drop(columns=['time','admittime']).reset_index(drop=True)

In [294]:
df19 = df19.rename(columns={'prev__amount':'prev_dose_amount'})

In [295]:
df19

,subject_id,hadm_id,event_type,time_since_last_dosage,prev_creatinine_amount,prev_bun_amount,prev_dose_amount,next_vanco_level,time_to_next_vanco,time_since_last_vanco,...,mild_liver_disease,diabetes_without_cc,diabetes_with_cc,paraplegia,renal_disease,malignant_cancer,severe_liver_disease,metastatic_solid_tumor,aids,charlson_comorbidity_index
0,10003400,23559586,D,0.0,2.0,35.0,1000,0,0.0,480480.0,...,0,0,0,0,1,1,0,1,0,13
1,10003400,23559586,D,0.0,2.0,35.0,1000,0,0.0,480480.0,...,0,0,0,0,1,1,0,1,0,13
2,10004733,27411876,V,0.0,0.0,0.0,0,12.3,253560.0,0.0,...,0,0,0,1,1,0,0,0,0,7
3,10004733,27411876,D,0.0,2.6,26.0,1250,0,0.0,539700.0,...,0,0,0,1,1,0,0,0,0,7
4,10005817,28661809,D,0.0,2.3,73.0,1000,15.5,79140.0,182820.0,...,0,1,0,0,1,0,0,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22783,19994379,27334101,V,26040.0,1.2,20.0,1000,0,0.0,1325040.0,...,0,0,0,0,1,0,0,0,0,7
22784,19997367,27185507,D,0.0,1.1,14.0,1000,29.1,75780.0,223500.0,...,1,0,0,0,1,1,1,0,0,10
22785,19997367,27185507,V,75780.0,1.1,14.0,1000,16.5,87060.0,299280.0,...,1,0,0,0,1,1,1,0,0,10
22786,19997367,27185507,D,0.0,1.1,14.0,1000,0,0.0,119040.0,...,1,0,0,0,1,1,1,0,0,10
22787,19999287,20175828,D,0.0,0.7,14.0,1000,0,0.0,312900.0,...,0,1,0,0,0,1,0,0,0,8

In [296]:
df19.columns

Index(['subject_id', 'hadm_id', 'event_type', 'time_since_last_dosage',
       'prev_creatinine_amount', 'prev_bun_amount', 'prev_dose_amount',
       'next_vanco_level', 'time_to_next_vanco', 'time_since_last_vanco',
       'prev_vanco_level', 'second_last_vanco_amount',
       'time_since_second_last_vanco', 'third_last_vanco_amount',
       'time_since_thirdlast_vanco', 'second_last_dose_amount',
       'time_since_second_last_dose', 'curr_vanco_level', 'gender', 'age',
       'insurance', 'ethnicity', 'average_weight', 'age_score',
       'myocardial_infarct', 'congestive_heart_failure',
       'peripheral_vascular_disease', 'cerebrovascular_disease', 'dementia',
       'chronic_pulmonary_disease', 'rheumatic_disease',
       'peptic_ulcer_disease', 'mild_liver_disease', 'diabetes_without_cc',
       'diabetes_with_cc', 'paraplegia', 'renal_disease', 'malignant_cancer',
       'severe_liver_disease', 'metastatic_solid_tumor', 'aids',
       'charlson_comorbidity_index'],
      dtype='object')

In [280]:
ordered_columns = ['event_type','curr_vanco_level','subject_id','hadm_id','next_vanco_level', 'time_to_next_vanco', 'prev_dose_amount', 'prev_creatinine_amount','prev_bun_amount','time_since_last_dosage',  'second_last_dose_amount', 'time_since_second_last_dose', 'prev_vanco_level', 'time_since_last_vanco', 'second_last_vanco_amount', 'time_since_second_last_vanco', 'third_last_vanco_amount', 'time_since_thirdlast_vanco', 'gender', 'age','insurance', 'ethnicity', 'average_weight']

In [297]:
ordered_columns = ['event_type','curr_vanco_level','subject_id','hadm_id','next_vanco_level', 'time_to_next_vanco', 'prev_dose_amount', 'prev_creatinine_amount','prev_bun_amount','time_since_last_dosage',  'second_last_dose_amount', 'time_since_second_last_dose', 'prev_vanco_level', 'time_since_last_vanco', 'second_last_vanco_amount', 'time_since_second_last_vanco', 'third_last_vanco_amount', 'time_since_thirdlast_vanco', 'gender', 'age','insurance', 'ethnicity', 'average_weight', 'age_score',
       'myocardial_infarct', 'congestive_heart_failure',
       'peripheral_vascular_disease', 'cerebrovascular_disease', 'dementia',
       'chronic_pulmonary_disease', 'rheumatic_disease',
       'peptic_ulcer_disease', 'mild_liver_disease', 'diabetes_without_cc',
       'diabetes_with_cc', 'paraplegia', 'renal_disease', 'malignant_cancer',
       'severe_liver_disease', 'metastatic_solid_tumor', 'aids',
       'charlson_comorbidity_index']

In [298]:
df20 = df19[ordered_columns]

In [333]:
df20['subject_id'].nunique()

4685

In [334]:
df20['hadm_id'].nunique()

6026

In [337]:
df20['age'].describe()

count    22788.000000
mean        63.272249
std         14.903830
min         18.000000
25%         54.000000
50%         64.000000
75%         74.000000
max        102.000000
Name: age, dtype: float64

In [339]:
df20['gender'].value_counts()

M    13956
F     8832
Name: gender, dtype: int64

In [ ]:
df20['do']

In [ ]:
df22 = df20['dose_amount']

In [336]:
len(df20)

22788

In [300]:
df20.to_csv('level2_features_updated_with_comorbidity.csv')

In [301]:
df20

,event_type,curr_vanco_level,subject_id,hadm_id,next_vanco_level,time_to_next_vanco,prev_dose_amount,prev_creatinine_amount,prev_bun_amount,time_since_last_dosage,...,mild_liver_disease,diabetes_without_cc,diabetes_with_cc,paraplegia,renal_disease,malignant_cancer,severe_liver_disease,metastatic_solid_tumor,aids,charlson_comorbidity_index
0,D,0,10003400,23559586,0,0.0,1000,2.0,35.0,0.0,...,0,0,0,0,1,1,0,1,0,13
1,D,0,10003400,23559586,0,0.0,1000,2.0,35.0,0.0,...,0,0,0,0,1,1,0,1,0,13
2,V,25.1,10004733,27411876,12.3,253560.0,0,0.0,0.0,0.0,...,0,0,0,1,1,0,0,0,0,7
3,D,0,10004733,27411876,0,0.0,1250,2.6,26.0,0.0,...,0,0,0,1,1,0,0,0,0,7
4,D,0,10005817,28661809,15.5,79140.0,1000,2.3,73.0,0.0,...,0,1,0,0,1,0,0,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22783,V,66.0,19994379,27334101,0,0.0,1000,1.2,20.0,26040.0,...,0,0,0,0,1,0,0,0,0,7
22784,D,0,19997367,27185507,29.1,75780.0,1000,1.1,14.0,0.0,...,1,0,0,0,1,1,1,0,0,10
22785,V,29.1,19997367,27185507,16.5,87060.0,1000,1.1,14.0,75780.0,...,1,0,0,0,1,1,1,0,0,10
22786,D,0,19997367,27185507,0,0.0,1000,1.1,14.0,0.0,...,1,0,0,0,1,1,1,0,0,10
22787,D,0,19999287,20175828,0,0.0,1000,0.7,14.0,0.0,...,0,1,0,0,0,1,0,0,0,8

In [302]:
df20.columns

Index(['event_type', 'curr_vanco_level', 'subject_id', 'hadm_id',
       'next_vanco_level', 'time_to_next_vanco', 'prev_dose_amount',
       'prev_creatinine_amount', 'prev_bun_amount', 'time_since_last_dosage',
       'second_last_dose_amount', 'time_since_second_last_dose',
       'prev_vanco_level', 'time_since_last_vanco', 'second_last_vanco_amount',
       'time_since_second_last_vanco', 'third_last_vanco_amount',
       'time_since_thirdlast_vanco', 'gender', 'age', 'insurance', 'ethnicity',
       'average_weight', 'age_score', 'myocardial_infarct',
       'congestive_heart_failure', 'peripheral_vascular_disease',
       'cerebrovascular_disease', 'dementia', 'chronic_pulmonary_disease',
       'rheumatic_disease', 'peptic_ulcer_disease', 'mild_liver_disease',
       'diabetes_without_cc', 'diabetes_with_cc', 'paraplegia',
       'renal_disease', 'malignant_cancer', 'severe_liver_disease',
       'metastatic_solid_tumor', 'aids', 'charlson_comorbidity_index'],
      dtype='object')

In [307]:
df20['rheumatic_disease'].nunique()

2

In [325]:
df21 = df20.loc[((df20['age']<30) | (df20['age'] > 80)) & (df20['rheumatic_disease']==1)]

In [328]:
df21['age'].max()

98

In [318]:
df20[df20['subject_id'] == 19015092]

,event_type,curr_vanco_level,subject_id,hadm_id,next_vanco_level,time_to_next_vanco,prev_dose_amount,prev_creatinine_amount,prev_bun_amount,time_since_last_dosage,...,mild_liver_disease,diabetes_without_cc,diabetes_with_cc,paraplegia,renal_disease,malignant_cancer,severe_liver_disease,metastatic_solid_tumor,aids,charlson_comorbidity_index
20641,D,0,19015092,20250010,11.1,44160.0,750,0.6,5.0,0.0,...,0,0,0,0,0,0,0,0,0,2
20642,D,0,19015092,20250010,0,0.0,750,0.6,5.0,0.0,...,0,0,0,0,0,0,0,0,0,2

In [331]:
df22 = df21[df21['age']==85]

In [332]:
df22[df['LastName'] == 'Smith'].index

,event_type,curr_vanco_level,subject_id,hadm_id,next_vanco_level,time_to_next_vanco,prev_dose_amount,prev_creatinine_amount,prev_bun_amount,time_since_last_dosage,...,mild_liver_disease,diabetes_without_cc,diabetes_with_cc,paraplegia,renal_disease,malignant_cancer,severe_liver_disease,metastatic_solid_tumor,aids,charlson_comorbidity_index
13266,D,0,15733369,24485200,26.3,19380.0,125,2.5,36.0,0.0,...,0,1,1,0,1,0,0,0,0,11
13267,D,0,15733369,24485200,18.2,16560.0,125,2.5,36.0,0.0,...,0,1,1,0,1,0,0,0,0,11
13268,D,0,15733369,24485200,25.1,12240.0,125,2.5,36.0,0.0,...,0,1,1,0,1,0,0,0,0,11
13269,D,0,15733369,24485200,0,0.0,125,2.5,36.0,0.0,...,0,1,1,0,1,0,0,0,0,11
18020,D,0,17906285,27225897,24.9,35340.0,1250,1.5,36.0,0.0,...,0,0,1,0,1,0,0,0,0,10
18021,V,24.9,17906285,27225897,20.5,82080.0,1250,1.5,36.0,35340.0,...,0,0,1,0,1,0,0,0,0,10
18022,V,20.5,17906285,27225897,18.7,83700.0,1250,1.5,36.0,117420.0,...,0,0,1,0,1,0,0,0,0,10
18023,V,18.7,17906285,27225897,16.6,79200.0,1250,1.5,36.0,201120.0,...,0,0,1,0,1,0,0,0,0,10
18024,D,0,17906285,27225897,27.6,42600.0,1000,1.5,36.0,0.0,...,0,0,1,0,1,0,0,0,0,10
18025,V,27.6,17906285,27225897,24.5,81720.0,1000,1.5,36.0,42600.0,...,0,0,1,0,1,0,0,0,0,10
18026,V,24.5,17906285,27225897,17.9,104460.0,1000,1.5,36.0,124320.0,...,0,0,1,0,1,0,0,0,0,10
18027,V,17.9,17906285,27225897,17.3,163020.0,1000,1.5,36.0,228780.0,...,0,0,1,0,1,0,0,0,0,10
18028,V,17.3,17906285,27225897,16.7,86700.0,1000,1.5,36.0,391800.0,...,0,0,1,0,1,0,0,0,0,10
18029,D,0,17906285,27225897,14.0,47280.0,500,1.5,36.0,0.0,...,0,0,1,0,1,0,0,0,0,10
18030,D,0,17906285,27225897,0,0.0,750,1.5,36.0,0.0,...,0,0,1,0,1,0,0,0,0,10

In [ ]:
df22